@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Anton', sans-serif; ;
}

body {
    background-color: #ffead2;
}

div.container {
    min-height: 100vh;
    width: 100vw;
    border: 3px dashed rgb(0, 191, 255);

    display: grid;
    grid-template: 1fr 50px 50px 1fr 100px / auto ;
    /* 1fr 50px 50px 1fr 100px / 10px 1fr 20px 1fr 10px */
}

.item {
    border: 2px dashed rgb(0, 239, 0);
}

header {
    grid-area: 1 / 1 / 2 / -1;
    background: #ffead2 url(../img/pexels-enginakyurt-2282532.jpg)  center center no-repeat ;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    background-color: #703513 ;
    border-radius: 10px ;
    height: 30px;
    min-width: 100px;
    text-align: center;
    color: #ffead2;
}

.menu:hover {
    background-color: #ffead2;
    color: #703513;
    transition: .5s;
}

main {
    grid-area: 3 / 1 / -1 / -1;
}